{% extends 'master.html' %}
{% load static %}
{% block content %}
  <a href="/manager/products/add"  class="btn btn-secondary"> Add Product</a>
  <a onclick="Delete()" class="btn btn-danger">Delete</a>
  <div>
    <caption>Products Information: </caption>
    <br>
    <table class="scroll">
      <thead>
        <tr>
          <th scope="col" colspan="1">ID</th>
          <th scope="col" colspan="1">Image</th>
          <th scope="col" colspan="1">Name</th>
          <td><span><input class="action-checkbox-column" type="checkbox"></span></td>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td><a href="/manager/products/{{product.id}}">{{product.id}}</a></td>
          <td><div><img class="row-image" src="{{product.imageURL}}"></div></td>
          <td>{{product.name}}</td>
          <td><span><input name="action-toggle" type="checkbox" value="{{product.id}}"></span></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    function Delete(){
        var checkboxes = document.getElementsByTagName('input');
        let list = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox' &&  checkboxes[i].name == 'action-toggle') {
                if(checkboxes[i].checked) list.push(checkboxes[i].value);
            }
        }
        console.log(list);

        var url = "/manager/delete/"

        fetch(url,{
          method:'DELETE',
          headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken
          },
          body: JSON.stringify({
            'object': 'product',
            'ids': list
          })
        })
        .then((response)=>{
          return response.json()
        })
        .then((data)=>{
          location.reload()
        })
    }
  </script>
{% endblock %}