{% extends 'admin_page.html' %}
{% load static %}
{% block content %}
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-success" name="save"> Save </button>
  {% if action != 'add' %}
  <button type="submit" class="btn btn-danger" name="del"
          onclick="return confirm('Do you really want to delete this customer?');">Delete</button>
  {% endif %}
</form>
<br>
<p>
  <label>Orders: </label>
  {% for order in orders %}
  <a href="/manager/orders/{{order.id}}">{{order.id}}</a>
  {% endfor %}
</p>
<script>
  document.getElementById("search_bar").action = "{% url 'customers_management' %}"
</script>
{% endblock content %}