{% extends 'admin_page.html' %}
{% load static %}
{% block content %}
  <a href="/manager/customers/add"  class="btn btn-secondary"> Add User</a>
  <div>
    <caption>Customers Information: </caption>
    <br>
    <table class="scroll">
      <thead>
        <tr>
          <th scope="col" colspan="1">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <td><span><input class="action-checkbox-column" type="checkbox"></span></td>
        </tr>
      </thead>
      <tbody>
      {% for customer in customers %}
        <tr>
          <td><a href="/manager/customers/{{customer.id}}">{{customer.id}}</td>
          <td><a href="/manager/customers/{{customer.id}}">{{customer.name}}</td>
          <td>{{customer.email}}</td>
          <td><span><input type="checkbox" value="{{product.id}}"></span></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}