{% extends 'admin_page.html' %}
{% load static %}
{% block content %}
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <img width="400px" height="auto" src="{{image}}" id="display_img">
  <br>
  <button type="submit" class="btn btn-success" name="save"> Save </button>
  {% if action != 'add' %}
  <button type="submit" class="btn btn-danger" name="del"
          onclick="return confirm('Do you really want to delete this product?');">Delete</button>
  {% endif %}
</form>
<script>
  document.getElementById("search_bar").action = "{% url 'manager' %}"
  document.getElementById("id_image").addEventListener("change",function(evt){
    const reader = new FileReader();
    reader.onload = function() {
      const preview = document.getElementById('display_img');
      preview.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
  })
</script>

{% endblock content %}